
html,
body{
    height: 100%;
}
header{
    background-image: url(../assets/img/castelo.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
}
#paineis-sobre {
    margin-top: 20px;
}

.titulos-depoimentos {
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FFF;
    margin-bottom: 0;
    font-size: 24px;
}

.grupo-radio, .contato-select {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.grupo-radio .radio:first-child {
    margin-top: 0;
}

.color-footer {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    margin-top: 10px;
}

footer address:last-child{
margin-bottom: 0;
}